footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.keyboard-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: gray;
    font-size: 18px;
    font-weight: bold;
}