@import url('header.css');
@import url('footer.css');

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ded5da;
    width: 60px;
    height: 60px;
}

.back-space-icon {
    width: 100px;
    align-items: center;
}